@media  (width >= 1300px) and (width < 1800px) {
    html {
    font-size: 14px;
    }
    body {
        padding: 2em 5em;
    }
}

@media  (width >= 800px) and (width < 1300px) {
    html {
    font-size: 12px;
    }
    body {
        padding: 2em 2em;
    }
    .main div {
        flex: 3 1 50%;
        padding: 1em 0;
    }
}

@media  (width < 800px) {
    html {
    font-size: 10px;
    }
    body {
        padding: 0.5em 0.5em;
    }
    .main div {
        flex: 3 1 50%;
        padding: 0;

    }
    .profile-picture {
        max-height: 100px;
    }


}
