body {
    background-image: url(/images/background.jpg);
    display: flex;
    flex-direction: column;
}

.jumbotron{
    background-color: rgba(0,0,0,0.1);
    min-height: 90vh;
}

.bg-blur {
    background-color: rgba(0, 0, 0, 0.7); /* Black w/opacity/see-through */
}

.global-error {
    background-color: rgb(165, 29, 42);
    color: rgb(228, 226, 222);
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    font-weight: 400;
    border-radius: .25rem;
}