<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LinkedOut</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-toggler bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link text-white" href="/companies/add">Add Company</a>
                <a class="nav-item nav-link text-white" href="/employees/add">Add Employee</a>
                <a class="nav-item nav-link text-white" href="/companies/all">All Companies</a>
                <a class="nav-item nav-link text-white" href="/employees/all">All Employees</a>
            </div>
        </div>
    </nav>
</header>
<div class="row">
    <div class="col-md-2"></div>
    <main class="jumbotron text-center rounded col-md-8 align-self-center">
        <div class="justify-content-center">
            <h1>Add Company</h1>
        </div>
        <form
                th:action="@{/companies/add}"
                th:method="post"
                th:object="${addCompanyDTO}"
                class="m-md-auto w-50 text-center">
            <div class="form-group">
                <label for="name">Name</label>
                <input
                        th:field="*{name}"
                        th:errorclass="is-invalid"
                        type="text"
                        class="form-control text-center"
                        id="name"
                        aria-describedby="nameHelp"
				        name="name"/>
                <small class="invalid-feedback">
                    <div th:each="err : ${#fields.errors('name')}"
                         th:text="${err}" />
                </small>
            </div>

            <div class="form-group">
                <label for="town">Town</label>
                <input
                        th:field="*{town}"
                        th:errorclass="is-invalid"
                        type="text"
                        class="form-control text-center"
                        id="town"
                        aria-describedby="town"
				        name="town"/>
                <small class="invalid-feedback">
                    <div th:each="err : ${#fields.errors('town')}"
                         th:text="${err}" />

                </small>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <input
                        th:field="*{description}"
                        th:errorclass="is-invalid"
                        type="text"
                        class="form-control text-center"
				        id="description"
                        aria-describedby="description"
                        name="description"/>
                <small class="invalid-feedback">
                    <div th:each="err : ${#fields.errors('description')}"
                         th:text="${err}" />
                </small>
            </div>

            <div class="form-group">
                <label for="budget">Budget</label>
                <input
                        th:field="*{budget}"
                        th:errorclass="is-invalid"
                        type="number"
                        min="0"
                        class="form-control text-center"
				        id="budget"
                        aria-describedby="town"
                        name="town"/>
                <small class="invalid-feedback">
                    <div th:each="err : ${#fields.errors('budget')}"
                         th:text="${err}" />
                </small>
            </div>

            <button type="submit" class="btn btn-secondary">Add Company</button>
        </form>
    </main>
</div>

<footer id="footer">
    <div class="container-fluid bg-transparent rounded">
        <div class="text-white p-2 text-center">&copy; Spring Team 2020. All rights reserved.</div>
    </div>
</footer>
</body>
</html>