.body-container {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
    height: 58em;   
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.logo {
    max-width: 100px;
    margin: 1em 0 0 2em;
}

.logo img {
    max-width: 100%;
    height: auto;
    display: block;
}

.header-container ul {
    display: flex;
    align-items: center;
    padding-right: 2em;
}

.header-container ul li {
    display: block;
    padding-top: 1em;
    padding-right: 2em;
}

.header-container ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.about-container {
    color: white;
    max-width: 45em;
    padding: 3em 0 0 15em;
}

.about-container h1 {
    font-size: 50px;
}

.about-container p {
    padding-top: 1em;
    font-size: 19px;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 75em;
    align-self: center;
    padding-top: 7em;
}

.articles-container {
    display: flex;
    padding-bottom: 5em;
}

.articles-container h2 {
    font-size: 38px;
}

.articles-container p {
    padding-top: 1em;
    padding-bottom: 2em;
    padding-right: 2em;
    color: rgba(0, 0, 0, 0.6);
}

.button {
    color: brown;
    text-decoration: none;
    border: 1px solid brown;
    padding: 0.5em 1.5em;
}


.articles-container::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -25em;
    border-bottom: 2px solid #ccc;
}

.sponsors-container {
    display: flex;
    flex-direction: column;
}

.sponsors-container h2 {
    text-align: center;
    font-size: 38px;
    color: brown;
    padding-bottom: 0.5em;
}

.sponsors-container p {
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}

.sponsors-logo-container {
    display: flex;
    align-self: center;
    max-width: 20em;
    margin: 1em 0 0 2em;
}

.sponsor-logo {
    padding: 1em;
    margin: 1em;
    background-color: #ccc;
    border-radius: 5em;
    
}

.sponsor-logo img {
    max-width: 100%;
    height: auto;
    display: block;
}

.partners p {
    padding-bottom: 5em;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(4, 4, 63);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 3em 10em 0 10em;
}

.footer-container::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -82em;
    border-bottom: 1px solid #ccc;
}

.footer-container h4 {
    font-size: 22px;
    padding-bottom: 1.5em;
}

.footer-container ul li {
    display: block;
    padding-bottom: 1em;

}

.footer-container ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    font-size: 14px;
}

.copyright {
    padding: 2em 0 1.5em 10em;
    color: white;
}