@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=PT+Serif&display=swap');

html {
    font-size: 16px;
    line-height: 1.5;
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.pt-sans-regular {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
  }

  .pt-sans-bold {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
  }