html {
    font: 16px/1.5 Helvetica, sans-serif;
    
}
body {
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
}

.site {
    margin: 2em 2em;
}

article {
    width: 65em;
}

header p:last-child {
    margin-bottom: 5em;
}

img {
    width: 75%;
}

aside {
    display: inline-block;
    position: relative;
    bottom: 94em;
    left: 66em;
}