@import url(responsive.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

header, main, aside, footer {
    background-color: lightblue;
    padding: 1em;
    border-radius: 0.3em;
}

header, footer {
    flex: 1 1 100%;
}

header ul {
    display: flex;
    justify-content: flex-end;
}

header ul li {
    display: block;
    padding-left: 1em;
    
}

main {
    flex: 1 1 5%;
}

aside {
    flex: 1 1 70%;
}

main ul {
    padding-top: 2em;
}
main ul li {
    list-style: none;
    text-align: center;
    padding-bottom: 1em ;
}

a {
    text-decoration: none;
}

aside p {
    font-size: 28px;
    font-weight: bold;
}

aside ul {
    padding-left: 2em;
    padding-top: 1em;
}