@media (width: 360px) {
    body {
        color: red;
    }
}

@media (min-width: 35rem) {
    body {
        background-color: yellow;
    }
}

@media (max-width: 50rem) {
    body {
        background-color: yellow;
        border: 2px solid blue;
    }
}