<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >

<nav class="main-nav">
    <ul>
        <li>
            <a href="/">Add new route</a>
        </li>
        <li>
            <a href="/profile">Profile</a>
        </li>
        <li sec:authorize="hasAuthority('ADMIN')">
            <a href="/">Admin</a>
        </li>
        <li>
            <form
                th:action="@{/logout}"
                th:method="post">
                <button type="submit">Logout</button>
                </form>
        </li>
    </ul>
</nav>