header {
    display: flex;
    justify-content: space-between;
    background-color: red;
    color: white;
    padding: 1em;
}

header ul {
    display: flex;
}

header ul li {
    display: block;
    padding: 0 0.5em;
}

header ul li a {
    color: white;
}

header ul li span {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
}

.main-section {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
}

.navigation {
    display: flex;
    justify-content: end;
    padding-top: 2em;
}

.navigation li {
    display: block;
    padding: 0 1em;
}

.navigation li a {
    text-decoration: none;
    color: white;
}

.front {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7em;
    padding-bottom: 7em;
}

.front h1 {
    font-size: 3em;
    padding-bottom: 1em;
}

.front p {
    max-width: 30em;
    text-align: center;
    padding-bottom: 1.5em;
}

.button {
    background-color: red;
    padding: 0.5em 1em;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0.5em;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    background-color: #ccc;
}

.welcome-section h3 {
    text-align: center;
    font-size: 1.5em;
    padding-top: 2em;
}

.welcome-section h3::after {
    content: '';
    background-color: red;
    width: 5ch;
    height: 2px;
    display: block;
    margin: 1em auto;
}

.welcome-section-container {
    display: flex;
    justify-content: space-between;
    padding: 1em 0 7em 0;
}

.fitness-info {
    display: flex;
    flex-direction: column;
}

.fitness-info-headline {
    text-align: center;
    color: red;
    padding-bottom: 1em;
}

.fitness-info-more {
    width: 30em;
    padding: 0 5em;
    text-align: center;
}

.fitness-info img {
    width: 15%;
    align-self: center;
    padding-bottom: 2em;
}
