<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
     <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Shopping list App</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<th:block th:replace="~{fragments/header}"></th:block>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add product</span></h1>
    <hr class="hr-3 w-25 bg-white"/>
    <form class="mx-auto w-25 bg-blur rounded"
            th:method="post"
            th:action="@{/product/add}"
            th:object="${addProduct}">
        <div class="form-group">
            <div class="label-holder textCol d-flex justify-content-center">
                <label for="name" class="h4 mb-2 text-white">Name</label>
            </div>
            <input
                    th:field="*{name}"
                    th:errorclass="is-invalid"
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"/>
            <small class="text-danger invalid-feedback"
                        th:each="err : ${#fields.errors('name')}"
                        th:text="${err}">
            </small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="description" class="h4 mb-2">Description</label>
            </div>
            <textarea
                    th:field="*{description}"
                    th:errorclass="is-invalid"
                    type="text"
                    class="form-control"
                    id="description"
                    name="description"></textarea>
            <small class="text-danger invalid-feedback"
                        th:each="err : ${#fields.errors('description')}"
                        th:text="${err}">
            </small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="neededBefore" class="h4 mb-2">Before</label>
            </div>
            <input
                    th:field="*{neededBefore}"
                    th:errorclass="is-invalid"
                    type="datetime-local"
                    class="form-control"
                    id="neededBefore"
                    name="neededBefore"/>
            <small class="text-danger invalid-feedback"
                    th:each="err : ${#fields.errors('neededBefore')}"
                    th:text="${err}"></small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="price" class="h4 mb-2">Price</label>
            </div>
            <input
                    th:field="*{price}"
                    th:errorclass="is-invalid"
                    type="number"
                    step="0.1"
                    class="form-control"
                    id="price"
                    name="price"/>
            <small class="text-danger invalid-feedback"
                    th:each="err : ${#fields.errors('price')}"
                    th:text="${err}"></small>
        </div>
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="category" class="h4 mb-2">Category</label>
            </div>
            <select
                    th:field="*{category}"
                    th:errorclass="is-invalid"
                    class="browser-default custom-select"
                    id="category"
                    name="category">
                <option value="-1">Select category</option>
				<option th:each="cat : ${T(bg.softuni.ShoppingList.model.entity.enums.CategoryName).values()}"
                        th:value="${cat.ordinal()}"
                        th:text="${cat.name()}"></option>
            </select>
            <small class="text-danger invalid-feedback">Select a category.</small>
        </div>

        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-warning  mb-3" value="Register">Add product</button>
        </div>
    </form>
</main>

<footer class="footer bg-transparent  py-2">
    <div class="container-fluid text-center">
		<div class="footer-background h5 text-white">
           &copy; Spring team 2021. All rights reserved.
		</div>
	</div>
</footer>
</body>
</html>
