header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2em;
}

.site-title {
    display: flex;
}

.site-title p:first-of-type {
    font-size: 38px;
    padding: 0.5em 1em 0 1em;
}

.site-title p:last-of-type {
    color: #666;
    align-self: flex-end;
    padding-left: 2em;
    font-size: 14px;
}

.border {
    margin-top: 1em;
    border-left: 2px solid #666;
}

header ul {
    display: flex;
    align-items: center;
    padding-right: 2em;
}

header ul li {
    display: block;
}

header ul li a {
    text-decoration: none;
    padding: 1em;
    background-color: #eee;
    border-left: 1px solid #fff;
    color: #666;
}

.homepage {
    background-color: rgb(28, 209, 124);
    color: black;
}

main {
    display: flex;
    flex-direction: column;
}

.background {
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
    height: 40em;
}

.background img {
    display: none;
}

.main-article {
    background-color: rgb(28, 209, 124);
    padding: 2em;
    display: flex;
    justify-content: center;
}

.main-article p {
    max-width: 75em;
    text-align: center;
    padding: 3em 0;
}

.main-info {
    background-color: #333;
    padding: 2em;
    display: flex;
    justify-content: space-around;
}

.main-info-detail {
    max-width: 20em;
    padding: 6em 0;
    display: flex;
    flex-direction: column;
}

.main-info-detail h4 {
    text-align: center;
    color: white;
    border-bottom: 2px solid white;
    padding: 1em 0;
}

.main-info-detail p {
    text-align: center;
    color: #666;
    padding-top: 1em;
}

.fa-film, .fa-video, .fa-store, .fa-square-phone {
    color: white;
    font-size: 68px;
    align-self: center;
    padding: 0.3em;
    background-color: rgb(28, 209, 124);
}

.middle-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5em;
}

.middle-article h2 {
    padding-top: 2em;
    color: #666;
    font-size: 28px;
}

.middle-article p {
    color: #aaa;
    font-size: 14px;
    padding-bottom: 2em;
}

.button {
    text-decoration: none;
    background-color: brown;
    color: white;
    padding: 0.5em 1.5em;
    font-size: 14px;
}

.more-articles {
    background-color: #333;
    padding: 6em;
    display: flex;
    justify-content: space-around;
}

.more-articles-detail {
    max-width: 20em;
    padding: 3em 0;
    display: flex;
    flex-direction: column;
}

.more-articles-detail h3 {
    color: white;
    text-align: center;
    font-size: 22px;
    padding-bottom: 1em;
}

.more-articles-detail p {
    text-align: center;
    color: #666;
}

footer {
    background-color: rgb(28, 209, 124);
    padding: 5em 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.568);  
}

footer span {
    color: white;
}